
# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# ======================
# Fichiers secrets
# ======================
.env
.env.*
*.sqlite3

# ======================
# Environnement virtuel
# ======================
env/
venv/
.venv/

# ======================
# Django
# ======================
db.sqlite3

.vscode/